{#include base.html}
    {#role}Admin{/role}
    {#content}
        <div class="accordion w-75 p-3 mx-auto"  id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Managers
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <form action="/admin/manager" method="get">
                            <button type="submit" class="btn btn-outline-primary">New</button>
                        </form>
                        <ul class="list-group mt-2">
                            {#for manager in managers}
                                <li class="list-group-item">
                                    <a href="/admin/manager/{manager.id}" class="stretched-link link-underline-opacity-0 link-body-emphasis">
                                        {manager.name}
                                    </a>
                                </li>
                            {/for}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Workers
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <form action="/admin/worker" method="get">
                            <button type="submit" class="btn btn-outline-primary">New</button>
                        </form>
                        <ul class="list-group mt-2">
                            {#for worker in workers}
                                <li class="list-group-item">
                                    <a href="/admin/worker/{worker.id}" class="stretched-link link-underline-opacity-0 link-body-emphasis">
                                        {worker.name}
                                    </a>
                                </li>
                            {/for}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        Clients
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <form action="/admin/client" method="get">
                            <button type="submit" class="btn btn-outline-primary">New</button>
                        </form>
                        <ul class="list-group mt-2">
                            {#for client in clients}
                                <li class="list-group-item">
                                    <a href="/admin/client/{client.id}" class="stretched-link link-underline-opacity-0 link-body-emphasis">
                                        {client.name}
                                    </a>
                                </li>
                            {/for}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {/content}
{/include}
