{#include base.html}
    {#content}
        <ul class="list-group w-75 p-3 mx-auto">
            <li class="list-group-item">
                <form name="manager">
                    <div class="mb-3">
                        <fieldset disabled>
                            <label for="disabledTextInput" class="form-label">Id</label>
                            <input type="text" id="disabledTextInput" class="form-control w-50" value="{manager.id}">
                        </fieldset>
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control w-50" id="name" name="name" aria-describedby="emailHelp" value="{manager.name}" required>
                    </div>
                    <button type="submit" formaction="/admin/manager/{manager.id}" formmethod="post" class="btn btn-primary">Update</button>
                    <button type="submit" formaction="/admin/manager/{manager.id}/delete" formmethod="post" class="btn btn-primary">Delete</button>
                </form>
            </li>
        </ul>
    {/content}
{/include}
