{#include base.html}
    {#content}
        <ul class="list-group w-75 p-3 mx-auto">
            <li class="list-group-item">
                <form action="/admin/manager" method="post" name="manager">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control w-50" id="name" name="name" aria-describedby="managerName" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </li>
        </ul>
    {/content}
{/include}
