{#include base.html}
    {#logout/}
    {#name/}
    {#role/}
    {#content}
        <ul class="list-group w-50 p-3 mx-auto">
            <li class="list-group-item">
                <p class="text-center fs-3">Incorrect username or password</p>
                <form action="/login" method="get">
                    <div class="mb-3 h-100 d-flex align-items-center justify-content-center">
                        <button type="submit" class="btn btn-primary btn-lg">Login</button>
                    </div>
                </form>
            </li>
        </ul>
    {/content}
{/include}
