{#include base.html}
    {#name}{name}{/name}
    {#role}Client{/role}
    {#content}
        <div class="accordion w-75 p-3 mx-auto"  id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
te                    <button class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo"
                            aria-expanded="true"
                            aria-controls="collapseTwo">
                        Tasks
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <form action="/client/task" method="get">
                            <button type="submit" class="btn btn-outline-primary">New</button>
                        </form>
                        <ul class="list-group mt-2">
                            {#for task in tasks}
                                <li class="list-group-item">
                                    <a href="#" class="stretched-link link-underline-opacity-0 link-body-emphasis">
                                        {task.title}
                                    </a>
                                </li>
                            {/for}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {/content}
{/include}
