{#include base.html}
    {#content}
        <ul class="list-group w-75 p-3 mx-auto">
            <li class="list-group-item">
                <form action="/client/task" method="post" name="task">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control w-50" id="title" name="title" aria-describedby="taskTitle" required>
                        <label for="desc" class="form-label">Description</label>
                        <textarea class="form-control w-50" id="desc" name="desc" aria-describedby="taskDesc" rows="3" required></textarea>
                        <label for="meeting-time" class="form-label">Choose date and time:</label>
                        <input type="datetime-local"
                               class="form-control w-50"
                               id="meeting-time"
                               name="meeting-time"
                               required
                        />
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </li>
        </ul>
    {/content}
{/include}
